# emacs
(.*/)?\#[^/]*\#$

# vim
*.swp

# MacOS
.DS_Store

# App Center/Test Cloud
.xtc-credentials
.appcenter-credentials

calabash.xcodeproj/project.xcworkspace/xcuserdata
calabash.xcodeproj/xcuserdata/
*.xccheckout
*.xcscmblueprint
Markdown.pl
build/*
Products/*
calabash.framework
libFrankCalabash.a
calabash-dylibs
*.app
*.ipa
tmp
testcloud-submit
.azure-credentials

Carthage/Checkouts
Carthage/Build/tvOS
Carthage/Build/watchOS
Carthage/Build/Mac
Carthage/Build/**/*.version
Carthage/Build/**/*.bcsymbolmap
!Carthage/Build/iOS/Expecta.framework*
!Carthage/Build/iOS/Specta.framework*
!Carthage/Build/iOS/OCMock.framework*

# Versioning info
LPTestTarget/InfoPlist.h

# Code coverage and profiling.
*.gcda
*.gcno

# AppCode
.idea

# CI pulls down these two repos from github
ios-smoke-test-app
calabash-ios
run_loop

Gemfile.lock
.ruby-version
.bundle

# Cucumber
.env
.irb-history
.pry-history
cucumber/Gemfile.lock
cucumber/reports
cucumber/screenshots
cucumber/*.png
cucumber/xtc-submit-acquaint
!cucumber/acquaint/AcquaintNativeiOS.app
!cucumber/acquaint/AcquaintNativeiOS.app.dSYM
!cucumber/acquaint/AcquaintNativeiOS.ipa
cucumber/xtc-submit-device-agent-test-app
!cucumber/device-agent-test-app/TestApp.app
!cucumber/device-agent-test-app/TestApp.app.dSYM
!cucumber/device-agent-test-app/TestApp.ipa
!cucumber/device-agent-test-app/TestApp.app.dSYM
!cucumber/device-agent-test-app/TestApp.app

# The version tool which is staged to bin as part
# of the build process.
bin/version

