# emacs
(.*/)?\#[^/]*\#$

# vim
*.swp

# MacOS
.DS_Store

calabash.xcodeproj/project.xcworkspace/xcuserdata
calabash.xcodeproj/xcuserdata/
*.xccheckout
*.xcscmblueprint
Markdown.pl
build
Products
calabash.framework
libFrankCalabash.a
calabash-dylibs
*.app
*.ipa
tmp

# Versioning info
LPTestTarget/InfoPlist.h

# Code coverage and profiling.
*.gcda
*.gcno

# AppCode
.idea

# CI pulls down these two repos from github
ios-smoke-test-app
calabash-ios
run_loop

.ruby-version
.bundle

# Cucumber
.env
.irb-history
.pry-history
cucumber/Gemfile.lock
cucumber/reports
cucumber/screenshots

# The version tool which is staged to bin as part
# of the build process.
bin/version

