calabash.xcodeproj/project.xcworkspace/xcuserdata
calabash.xcodeproj/xcuserdata/
*.xccheckout
Markdown.pl
build
calabash.framework
libFrankCalabash.a
calabash.dylibs

!scripts/test/build

# AppCode
.idea

# CI pulls down these two repos from github
animated-happiness
calabash-ios
