language: objective-c

before_script:
  - scripts/ci/travis/instruments-auth.sh
  - gem install xcpretty --no-document
  - gem install run_loop --no-document
  - gem install retriable --no-document

script:
  - make clean
  - make framework
  - make frank
  # Dylib creation is allowed by Xcode 6, but it requires
  # code-signing for the on-device library, which is not easy
  # to set up on Travis CI.
  #- make dylibs
  #- make all
  - make dylib_sim
  - scripts/test/xctest.rb
  - scripts/test/run-ios-simulator-smoke-tests.rb

notifications:
  email:
    recipients:
      - joshuajmoody@gmail.com
      - karl.krukow@xamarin.com
    on_success: change
    on_failure: always
